<html>
    <head></head>

    <body>
        <h1> Hotel Kha Kha</h1>
        <table>
            <tr>
                <td>
                    <a href="manageMenu">Manage Menu</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="orderFood">Order Food</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="printMenu">Print Menu</a>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            
        </table>
    </body>
</html>